<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <!-- Load the static tag -->
    {% load static %}

    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Order Created Successfully!</h1>
    <p>Thank you for your order. You will receive a confirmation SMS shortly.</p>

    <!-- Home Button -->
    <p> What do you want to do next? <a href="{% url 'index' %}">Go Home</a> or make another <a href="{% url 'create-order' %}">Order</a></p>
</body>
</html>
